#takeItChill {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main {
  width: auto; /* Permite que ocupe todo el ancho disponible */
  max-width: 100%; /* Asegura que el ancho no exceda el ancho del contenedor */
}
#sonidos {
  padding-top: 30px;
}
#categorias {
  padding-left: 40px;
  padding-right: 40px;
  width: 50rem;
}
h5{
  display: block !important;
  font-size: 0.83em !important;
  margin-block-start: 1.67em !important;
  margin-block-end: 1.67em !important;
  margin-inline-start: 0px !important;
  margin-inline-end: 0px !important;
  font-weight: bold !important;
}
.layout .sidebar .pro-sidebar-logo > h5 {
overflow: hidden !important;
white-space: nowrap !important;
text-overflow: ellipsis !important;
font-size: 20px !important;
line-height: 30px !important;
transition: opacity 0.3s !important;
opacity: 1 !important;
}

a{
text-decoration: none !important;

}
a:-webkit-any-link {
color: -webkit-link;
cursor: pointer;
}
#logo{
  color: white !important;
}

