.conta {
  padding-top: 20em;
}

a {
  text-decoration: none;
  color: #000; /* Cambiar el color del texto del enlace */
}

/* Cambiar el color del enlace cuando se pasa el mouse sobre él */
a:hover {
  color: #f00; /* Cambiar el color del texto del enlace al pasar el mouse */
}

#sonidos{
    position: fixed;
    right: 0;
    top: 0;
    /* width: 200px; Ajusta el ancho de la tabla 2 según tus necesidades */
    /* background-color: lightgray; */
    visibility: hidden;
}
#audioCard {
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    padding-top: 13em; /* Ajusta el espaciado superior según tus necesidades */
  }